version: 2.0
jobs:
  build:
    docker:
      - image: squirmy/cci-dotnet-core:0.0.4
    working_directory: ~/dotnet-service-template
    environment:
      TEST_RESULTS: /tmp/test-results
    steps:
      - checkout
      - run: make
      - run: make test
      - store_test_results:
          path: /tmp/test-results
